//? colors
$color1: white;
$color2: black;
$color3: #ff3333;

//? fonts
$title_Font: 'DynaPuff',sans-serif;
$paragraph_font: 'Noto Kufi Arabic',serif;
$font_Size: 30px;

//? padding && margin

//? width
$width1: 500px;