.blue{
    background: #0066ff;
}
    .green{
        background: rgb(2, 80, 2);
    }



.pink{
    background: $color3;
}
    .white{
        background: $color1;
    }

.orange{
    background: orangered;
}
    .red{
        background: #d80e0e;
    }

.black{
    background: $color2;
}
    .blue{
        background: rgb(1, 1, 48);
    }
